{{ $config := .Site.Data.config }}

<!DOCTYPE html>
<html lang="en-US" itemscope itemtype="http://schema.org/WebPage">
<head>
	<title>
			{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
			{{ if .IsHome }}
					{{ .Site.Title }}
			{{ else if .Params.heading }}
					{{ .Params.heading }}
			{{ else }}
					{{ .Title }} | {{ .Site.Title }}
			{{ end }}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Including the bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- Social Icon fonts -->
	<link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh" integrity="sha384-b37f6e13aef29696a83ef712190de950fa11c6beba76dd3558f37404c94e939f516e749dc0f99ef50f57ef3e7aae0b90" crossorigin="anonymous">
	<link rel="stylesheet" href="{{.Site.BaseURL}}css/styles.css">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/my.css">
	<!-- Including google fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:800">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/highlight.css">
	<!-- Font awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


	<!-- Meta tags -->
	<meta name="author" content="{{ $config.author }}">
	<meta name="theme-color" content="#000000">

	
	{{ partial "seo.html" . }}

</head>
<body class="clearfix">